<div class="container-fluid ">
    <div class="row" style="height: 100vh">
      
    <div class="col-6
       bg-info
       d-flex 
       flex-column 
       justify-content-center 
       align-items-center">
        <div class="h3">Welcome to my Appplication</div>
        <div class="h6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid,harum!</div>
    </div>
  
      <div class="col-6
      bg-light 
      d-flex 
      flex-column 
      justify-content-center 
      align-items-center
      text-center
      border border-light
      p-2"
      >


      
          
     <div class="alert alert-info">A simple warning alert—check it out!</div>
     <p class="h3 
               text-info 
               font-weight-bold 
               mb-4 ">Sign up</p>
          
    <div class="form-row mb-2">
        <div class="col">
              <input type="text" formControlName="firstname" 
              class="form-control" placeholder="First name">
        </div>

        <div class="col">
              <input type="text" formControlName="lastname" 
              class="form-control" placeholder="Last name">
        </div>
    </div>
    
    <div>
         <input type="text"  placeholder="Enter Username" 
         class="form-control" formControlName="username">

         <small>username can contain letter and number without spaces.</small>
    </div>

    <div class="mt-4 mb-2">
        <input type="email" placeholder="abc@gmail.com"
        class="form-control" formControlName="Email">
        <small class="mb-2">please provide your email</small>
    </div>
  
    
      <div class="mt-2">
        <input type="password" placeholder="password"
        class="form-control"formControlName="password" >
        <small class="mb-2">At least 8 characters and 1 digit</small>
      </div>

    <div class="mt-1">
        <input type="password" placeholder="Confirm password"
        class="form-control"formControlName="password" >
    </div>

  
    <button class="btn btn-md btn-secondary mt-2 mb-2"[disabled]="fbFormGroup.valid"
    (click)="registerHere()">Register Here</button>

    <hr>
    <p>By clicking <b>Sign up</b> you agree to our terms of service</p>
  
    <a class="text-primary"routerLink="/login">Login Here</a>
  </div>
  
  </div>
</div>
