
<div class="container-fluid">
    <div class="row" style="height: 100vh">
   
        <div class="col-12 col-m-6">

        <div class="row bg-info d-flex
                  justify-content-center
                  align-items-center p-5 font-weight-bold text-dark" 
                  style="height: 50vh;">
            
                  <div class="h1 
                  mt-2 
                  mb-5 
                  font-weight-bolder  
                  text-dark">
                  About Us
                  </div>

                  <p><em>"We were born in different cities,
                  at different times, we love different music, food, movies. 
                  But we have something that unites us all. 
                  It is our company.We are not just a team, we are a family."
                  <br><br>
                   A contact form gives your visitors an easy way to send you a message right from your website.
                  With a contact form you can easily require details such as their phone number or what product or service they’re inquiring about.</em></p>

        </div>

        <div class="row mt-2" style="height: 50vh;">

        <div class="col-6 d-flex flex-row justify-content-center align-items-center">
             <div class="col-3"><img src="assets/aarti3.jpg" style="height:30%; width: 50%;"></div>
             <div class="col-3 ">
                <h4 style="font-family: cursive;">AARTI  PATIL</h4> 
                <p>Web Developer</p>
                <p>aartipatil15@gmail.com</p>
                <p><button class="btn-sm btn-outlet-info">Contact</button></p>
            </div>
            
        </div>

        <div class="col-6 d-flex justify-content-center align-items-center">
            <div class="col-3">
            <img src="assets/aarti3.jpg" style="height:30%; width: 50%;">
            </div>
            <div class="col-3">
            <h4 style="font-family: cursive;">AKASH   POL</h4>
            <p>Web Developer</p>
            <p>akashpol185@gmail.com</p>
            <p><button class="btn-sm btn-outlet-info ">Contact</button></p>

            </div>
        
            
        </div>
        
        </div>




        </div>
    </div>
</div>